@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?nxgx5k');
	src:url('fonts/icomoon.eot?nxgx5k#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?nxgx5k') format('truetype'),
		url('fonts/icomoon.woff?nxgx5k') format('woff'),
		url('fonts/icomoon.svg?nxgx5k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bombs1:before {
	content: "\e900";
}
.icon-pointer32:before {
	content: "\da";
}


#PI .togglebtn {
    position: absolute;
    display:block;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 1px 0 #000;
}
#PI #dragBtn.lo{
    color : white;
}
#PI #dragBtn.hi{
    color : yellow;
}
#PI #explodeBtn.lo{
    color : white;
}
#PI #explodeBtn.hi{
    color : yellow;
}
